body{
    background-color: hsl(0, 0%, 95%);
    font-size: 0.75rem;
    font-family: "Lexend Deca";
    color: hsla(0, 0%, 100%, 0.75);
}
h2{
    font-family: "Big Shoulders Display";
    font-size: 2rem;
    color: hsl(0, 0%, 95%)
}
main{
    margin:10rem auto;
    display:flex;
    width: 60%;
    min-height: 25rem;
}
.container{
    display:flex;
    flex-direction: column;
    padding:2rem;
    min-height: 25rem;
    min-width: 20%;
}

img{
    width: 5rem;
}
.container button{
    margin-top: auto;
    font-family: "Lexend Deca";
    padding:0.7rem 1rem;
    border:none;
    border-radius: 3rem;
}
#c1{
    background-color: hsl(31, 77%, 52%);
}
#c1 button{
    color:hsl(31, 77%, 52%);
    min-width:7rem;
}
#c2{
    background-color: hsl(184, 100%, 22%);
}
#c2 button{
    color: hsl(184, 100%, 22%);
    min-width:7rem;
}
#c3{
    background-color: hsl(179, 100%, 13%);
}
#c3 button{
    color: hsl(179, 100%, 13%);
    min-width:7rem;
}
#c1 button:hover{
    background-color:inherit;
    color:white;
    border:1px solid white;
}
#c2 button:hover{
    background-color:inherit;
    color:white;
    border:1px solid white;
}
#c3 button:hover{
    background-color:inherit;
    color:white;
    border:1px solid white;
}
footer {
    position: absolute;
    bottom: 0;
    margin-bottom: auto;
    color:black;
  }
@media screen and (max-width:700px) {
    main{
        flex-direction:column;
        min-height: fit-content;
        margin:auto;
    }
    .container{
        min-height: fit-content;
    }
    .container button{
        position: relative;
    }
    footer {
        padding-top:5rem;
        position: relative;
        bottom: 0;
      }
}
@media (max-height:700px){
    footer {
        padding-top:5rem;
        position: relative;
        bottom: 0;
      }
}

